<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>
        Políticas de Envíos y Devoluciones
      </h1>
      <h2>
        1. Envíos y Entregas
      </h2>
      <h4>
        a. Método de Envío:
      </h4>
      <p>
        Ofrecemos envíos contra entrega como opción para recibir tu pedido. El costo del envío contra entrega será detallado durante el proceso de compra.
      </p>
      <h4>
        b. Tiempo de Entrega:
      </h4>
      <p>
        El tiempo estimado de entrega será proporcionado durante la compra y estará sujeto a disponibilidad y ubicación.
      </p>
      <h4>
        c. Condiciones de Entrega:
      </h4>
      <p>
        Al elegir envío contra entrega, asegúrate de tener el importe exacto para pagar al mensajero al momento de la entrega.
      </p>
      <h4>
        2. Devoluciones y Cambios
      </h4>
      <p>
        a. Política de Devolución:
        Aceptamos devoluciones dentro de los 30 días posteriores a la compra. Si no estás satisfecho con tu compra, comunícate con nuestro equipo de atención al cliente para coordinar la devolución.
        b. Condiciones de Devolución:

        Los artículos deben estar en su estado original, sin haber sido usados y con las etiquetas intactas.
        El comprador es responsable de los costos de envío para devolver los productos, a menos que el motivo de la devolución sea un error de nuestra parte.
        Es necesario presentar el comprobante de compra para procesar la devolución.
        c. Proceso de Devolución:

        Ponte en contacto con nuestro equipo de atención al cliente para iniciar el proceso de devolución.
        Te proporcionaremos instrucciones detalladas sobre cómo devolver el artículo.
        Una vez recibido el artículo devuelto y verificado su estado, procesaremos el reembolso o el cambio, según corresponda.
        3. Contacto y Soporte
        Para cualquier consulta adicional o asistencia, no dudes en comunicarte con nuestro equipo de atención al cliente a través de correo electrónico o por teléfono al 3208429429.

      </p>
    </div>
  </div>
</div>
